In [2]:
# %load ../standard_import.txt
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

import sklearn.linear_model as skl_lm
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.metrics import confusion_matrix, classification_report, precision_score
from sklearn import preprocessing
from sklearn import neighbors

import statsmodels.api as sm
import statsmodels.formula.api as smf

%matplotlib inline
plt.style.use('seaborn-white')

In [3]:
df = pd.read_csv('Data/Auto.csv')
print(df.shape)
df.head()

(397, 9)

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [7]:
df["high_mpg"] = df["mpg"] > df["mpg"].median()
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name,high_mpg
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,False
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,False
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,False
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst,False
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino,False

`high_mpg` is the target for classification.